h1 {
	font-size: 5vw;
	color: rgb(1, 1, 88);
	margin: 25px 0;
	text-align: center;
}
.search {
	display: flex;
	justify-content: center;
	/* flex-direction: column; */
	margin: 25px 0;
}
input {
	padding: 5px;
	font-size: 18px;
	background: rgba(1, 1, 88, 0.171);
	border: none;
}
button {
	cursor: pointer;
	background: rgb(1, 1, 88);
	color: white;
	border: none;
	font-weight: 800;
}
.weatherContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100vw;
}
.weather {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 50vw;
}

@media screen and (max-width: 400px) {
	.weather {
		justify-content: space-evenly;
		width: 90vw;
	}
}
